@import url("https://fonts.googleapis.com/css?family=Montserrat:700|Pacifico");

*,
*:after,
*:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-transition: all 100ms ease-in;
  transition: all 100ms ease-in;
}
html {
  background: #1b69c2;
}
.feliz {
  width: 100%;
  font-family: "Pacifico", cursive;
  font-size: 100px;
  font-weight: 700;
  text-align: center;
  position: absolute;
  top: 50%;
  opacity: 0;
  background: linear-gradient(to right, #ffd900 2%, #f7df0b 88%);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  animation: aparecer_feliz 2s ease-in-out 7s forwards;
}

.numero {
  position: relative;
  font-family: "Montserrat", sans-serif;
  font-size: 175px;
  font-weight: 700;
  color: #33edf3;
}

.globo {
  width: 100px;
  height: 100px;
  display: block;
  background: #ec4a2d;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.ano_nuevo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding: 200px 100px 0px 0px;
}
.ano_nuevo > span {
  font-family: "Montserrat", sans-serif;
  font-size: 175px;
  font-weight: 700;
  color: #33edf3;
}
span.tres {
  position: absolute;
  top: 50%;
  right: 50%;
  margin-right: -220px;

  animation: mover_2023 5s ease-in-out 5s forwards;
}
span.cuatro {
  position: absolute;
  right: 0%;
  margin-right: -240px;
  animation: aparecer_2024 6s ease-in-out forwards;
}
span.cuatro:before {
  content: "";
  width: 0px;
  height: 6px;
  display: block;
  border-radius: 3px;
  background: #33edf3;
  transform: rotate(0deg);
  transform-origin: left top;
  position: absolute;
  top: 55px;
  left: 10px;
  z-index: -1;
  animation: entrega_balon 1s ease-in-out 4s;
}
.balon {
  width: 100px;
  height: 100px;
  display: block;
  background: radial-gradient(circle at center, #ddbd06 20%, #fff 80%);

  border-radius: 50%;
  position: absolute;
  top: 50%;
  margin-top: -165px;
  right: 0%;
  margin-right: -200px;
  animation: mover_y_aparecer_balon 10s ease-in-out forwards;
}
.balon:before {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 10px 20px 10px;
  border-color: transparent transparent #ec4a2d transparent;
  position: absolute;
  left: 50%;
  margin-left: -10px;
  bottom: -10px;
  z-index: -1;
}
.balon:after {
  content: "";
  width: 4px;
  height: 100px;
  display: block;
  background: linear-gradient(to bottom, #ff7d66, #f1a008);
  border-radius: 0px 0px 3px 3px;
  position: absolute;
  left: 50%;
  margin-left: -2px;
  bottom: -110px;
}
.fuegos {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}
.fuegos > div {
  border: 2px solid #fff;
  position: absolute;
  opacity: 0;
  animation: soltar_fuegos 1.5s ease-in-out 8s forwards;
}
.fuegos > div.f1 {
  left: 20%;
  top: 40%;
}
.fuegos > div.f2 {
  left: 15%;
  top: 70%;
}
.fuegos > div.f3 {
  right: 20%;
  top: 40%;
}
.fuegos > div.f4 {
  right: 15%;
  top: 70%;
}
.fuegos > div.f5 {
  right: 30%;
  top: 20%;
}
.fuegos > div.f6 {
  right: 20%;
  top: 90%;
}
.fuegos > div.f7 {
  left: 30%;
  top: 20%;
}
.fuegos > div.f8 {
  left: 20%;
  top: 90%;
}
.fuegos > div span {
  width: 6px;
  height: 6px;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  animation: explotar_fuegos 0.5s ease-in-out 9s forwards;
}
.fuegos > div span:nth-child(1) {
  transform: rotate(0deg);
}
.fuegos > div span:nth-child(2) {
  transform: rotate(120deg);
}
.fuegos > div span:nth-child(3) {
  transform: rotate(240deg);
}
.fuegos > div span:before {
  content: "";
  width: 2px;
  height: 50px;
  display: block;
  background: #5ef506;
  position: absolute;
  top: -60px;
  left: 2px;
}
.fuegos > div span:after {
  content: "";
  width: 2px;
  height: 50px;
  display: block;
  background: #5ef506;
  position: absolute;
  bottom: -60px;
  left: 2px;
}
.fuegos > div span i:before {
  content: "";
  width: 3px;
  height: 3px;
  display: block;
  border-radius: 50%;
  background: #fff;
  position: absolute;
  top: -15px;
  left: 10px;
}
.fuegos > div span i:after {
  content: "";
  width: 3px;
  height: 3px;
  display: block;
  border-radius: 50%;
  background: #fff;
  position: absolute;
  top: -15px;
  right: 10px;
}
a.autor {
  font-size: 12px;
  text-decoration: none;
  color: #f47c7c;
  position: fixed;
  bottom: 10px;
  right: 10px;
}

@keyframes aparecer_2024 {
  0% {
    right: 0%;
  }
  66.6666% {
    right: 50%;
    margin-right: -300px;
  }
  90% {
    right: 50%;
    margin-right: -350px;
  }
  100% {
    right: 50%;
  }
}
@keyframes mover_y_aparecer_balon {
  0% {
    right: 0%;
  }
  40% {
    right: 50%;
    margin-right: -300px;
  }
  50% {
    right: 50%;
    margin-right: -200px;
    top: 50%;
  }
  100% {
    top: -100%;
    right: 50%;
  }
}
@keyframes entrega_balon {
  0% {
    transform: rotate(-30deg);
    width: 40px;
  }
  100% {
    transform: rotate(-150deg);
    width: 70px;
  }
}
@keyframes mover_2023 {
  0% {
    top: 50%;
  }
  100% {
    top: -100%;
  }
}
@keyframes aparecer_feliz {
  0% {
    margin-top: 0px;
    opacity: 0;
  }
  100% {
    margin-top: -200px;
    opacity: 1;
  }
}
@keyframes soltar_fuegos {
  0% {
    margin-top: 100%;
    opacity: 0;
    width: 2px;
    height: 30px;
    display: block;
    border-radius: 50%;
  }
  75% {
    margin-top: 0%;
    opacity: 1;
    width: 2px;
    height: 30px;
    display: block;
    border-radius: 50%;
  }
  80% {
    margin-top: 0px;
    margin-left: 0px;
    opacity: 1;
    width: 10px;
    height: 10px;
    display: block;
    border-radius: 50%;
    transform: scale(0.2);
  }
  100% {
    opacity: 1;
    width: 10px;
    height: 10px;
    display: block;
    border-radius: 50%;
    transform: scale(1);
  }
}
@keyframes explotar_fuegos {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
